*{
    margin: 0;
    padding: 0;
}

body{
 font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.fa-home{
    color: rgba(95, 187, 199, 0.932);
    font-size: 35px;
}


header{
    background: url(../img/banner.jpg) no-repeat;
    background-size: cover;
    padding: 25px 0px;
    width: 100%;
    float: left;
}

.nav-link {
    color: white;
 
    margin: 0px 24px;
    font-weight: 200px;
}

.banner-main {
    padding: 106px 0px;
    padding-bottom: 150px;
}

.banner-main h2 {
    background: #21252991;
    display: inline-block;
    padding: 6px 25px;
    color: white;
    font-size: 50px;
}

.banner-main h6{
    color: rgba(255, 255, 255, 0.637);
    font-size: 17px;
    padding-top: 20px;
}

.banner-main span {
    border-bottom: 2px solid white;
    width: 4%;
    display: block;
    margin: 31px 0;
    margin-top: 67px;

}

.cstm-btn {
    background: transparent;
    border: 1px solid white;
    padding: 10px 50px;
    color: white;
}



.welcome {
    width: 100%;
    float: left;
    padding: 70px 0px;
    padding-top: 100px;
}

.welcome-text{

}

.welcome-img{
    margin-top: 30px;
}

.img-fluid.img-position {
    margin-top: 85px;
    margin-bottom: -21%;
}

.welcome-text h2 {
    font-size: 41px;
}

.welcome-text span{
    border-bottom: 2px solid rgba(0, 0, 0, 0.747);
    width: 4%;
    display: block;
    margin: 31px 0;
}

.welcome-text p{
    color: rgba(0, 0, 0, 0.582);
    font-size: 17px;
}



.another{
    width: 100%;
    float: left;
    padding: 40px 0px;
    background-color: #28282e;
}

.another-text {
    margin-top: 47px;
    margin-bottom: 45px;
}

.another-img{
    margin-top: 126px;
    width: 80%;
}

.another-text h2 {
    color: white;
    font-size: 41px;
}

.another-text h6 {
    color: #ffffff91;
    margin-bottom: 60px;
    text-align: justify;
}

.another-text span{
    border-bottom: 2px solid white;
    width: 4%;
    display: block;
    margin: 28px 0;
}

.another-text .cstm-btn-2 {
    background: transparent;
    border: 1px solid white;
    padding: 10px 10px;
    color: white;
    font-size: 15px;
}



footer{
    width: 100%;
    float: left;
    background-color: #ef4035;
    padding: 10px 0px;
}

.footer-text p{
    color: rgba(255, 255, 255, 0.842);
    margin-top: 17px;
    font-size: 16px;
}

@media (min-width:320px) and (max-width: 576px) {
    header{
       
        background-size: cover;
        padding: 0px 0px;
        width: 500px;
        float: left;
        height: 270px;
    }

    header .img-center{
        width: 200px;
        display: inline-block;
    }

    .fas.fa-home{
        
    }

    .banner-main{
        padding: 0px 0px;
        padding-bottom: 0px;
    }

    .banner-main h2 {
        background: #21252991;
        display: inline-block;
        padding: 6px 12px;
        color: white;
        font-size: 20px;
        margin-left: 10px;
        
    }
    
    .banner-main h6{
        color: rgba(255, 255, 255, 0.637);
        font-size: 10px;
        padding-left: 10px;
        width: 70%;
    }
    
    .banner-main span {
        border-bottom: 2px solid white;
        width: 4%;
        display: block;
        margin-left: 10px;
        margin-top: 0px;
    
    }
    
    .cstm-btn {
        background: transparent;
        border: 1px solid white;
        padding: 5px 10px;
        color: white;
        margin-bottom: 0px;
        margin-left: 10px;
    }

    .footer-text p{
        color: rgba(255, 255, 255, 0.842);
        margin-top: 15px;
        font-size: 14px;
        text-align: center;
    }

    .welcome-text h2 {
        font-size: 30px;
    }

    .another-text h2 {
        color: white;
        font-size: 45px;
        padding-top: 0px;
    }

    .another-text .cstm-btn-2 {
        background: transparent;
        border: 1px solid white;
        padding: 10px 10px;
        color: white;
        font-size: 12px;
    }

    .another-img-2{
        width: 650px;
        display: block;
    }

    .another-img{
    margin-top: 0px;
    width: 100%;
    }

    .img-fluid.img-position {
        margin-top: 20px;
        margin-bottom: -21%;
        width: 1200px;
        margin-right: 40px;
    }

    .welcome {
        width: 100%;
        float: left;
        padding: 70px 0px;
        padding-top: 24px;
    }
    
}